<!-- <?xml version="1.0" encoding="UTF-8"?> -->
 <!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="RegressionSuite" preserve-order="true"
	parallel="classes" thread-count="1">

	<listeners>
		<listener
			class-name="com.pagefactory.framework.customListener.Listener"></listener>
		<!-- <listener class-name="com.pagefactory.framework.customListener.RetryListener"></listener> -->
	</listeners>


	<test name="SanityTest">
		<classes>
<!-- 			<class name="com.pagefactory.framework.naukari.TC01_Login" />
			<class name="com.pagefactory.framework.naukari.TC02_Home" /> -->
			<class name="com.pagefactory.framework.naukari.TC03_Profile" />
		</classes>
	</test>

</suite>
